.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_
/.quarto/
.ipynb_checkpoints
__pycache__/
.netrc
_site/
.DS_Store
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

